# Beta and S&P 500

In [1]:
import numpy as np
import pandas as pd
import yfinance as yf
from sklearn.linear_model import LinearRegression

tickers = ['AAPL', 'MSFT', 'AMZN', 'IBM', '^GSPC']
data = yf.download(tickers, period='12mo', interval='1d')
data = data['Adj Close']
log_return = np.log(data/data.shift())

[*********************100%***********************]  5 of 5 completed

### step to calculate Beta
$$cov_{x, y} = \frac{\Sigma(x-\bar{x})(y-\bar{y})}{N-1}$$
$$var_y = \frac{\Sigma(y-\bar{y})^2}{N-1}$$
$$Beta = \frac{cov_{x, y}}{var_y} = \frac{\Sigma(x-\bar{x})(y-\bar{y})}{\Sigma(y-\bar{y})^2}$$

In [9]:
cov = log_return.cov()
var = log_return['AAPL'].var()
cov.loc['AAPL', '^GSPC']/var

0.5883809911683809

In [5]:
log_return.head()

                AAPL      AMZN       IBM      MSFT     ^GSPC
Date
2022-03-31       NaN       NaN       NaN       NaN       NaN
2022-04-01 -0.001720  0.003445  0.000999  0.003594  0.003404
2022-04-04  0.023417  0.028844  0.000922  0.017778  0.008058
2022-04-05 -0.019124 -0.025823 -0.010650 -0.013071 -0.012631
2022-04-06 -0.018623 -0.032833  0.003872 -0.037293 -0.009764

In [8]:
X = log_return['AAPL'].iloc[1:].to_numpy().reshape(-1, 1)
Y = log_return['^GSPC'].iloc[1:].to_numpy().reshape(-1, 1)
lr = LinearRegression()
lr.fit(X, Y)
print(lr.coef_)

[[0.58838099]]

# Capital Asset Pricing Model (CAPM)

**Formula**
$$ER_i = R_f + \Beta_i(ER_m-R_f)$$
* $ER_i$: Expected return from investment
* $R_f$: Risk free return
* $\Beta_i$: The beta of the investment
* (ER_m - R_f): Market risk premium

In [10]:
log_return.head()

                AAPL      AMZN       IBM      MSFT     ^GSPC
Date
2022-03-31       NaN       NaN       NaN       NaN       NaN
2022-04-01 -0.001720  0.003445  0.000999  0.003594  0.003404
2022-04-04  0.023417  0.028844  0.000922  0.017778  0.008058
2022-04-05 -0.019124 -0.025823 -0.010650 -0.013071 -0.012631
2022-04-06 -0.018623 -0.032833  0.003872 -0.037293 -0.009764

In [12]:
cov = log_return.cov()
var = log_return['^GSPC'].var()
beta = cov.loc['AAPL', '^GSPC']/var
risk_free_return = 0.0138
market_return = .105
expected_return = risk_free_return + beta*(market_return - risk_free_return)

In [13]:
expected_return

0.13297833577776907

In [14]:
cov = log_return.cov()
var = log_return['^GSPC'].var()
beta = cov.loc['^GSPC']/var
risk_free_return = 0.0138
market_return = .105
expected_return = risk_free_return + beta*(market_return - risk_free_return)

In [15]:
expected_return

AAPL     0.132978
AMZN     0.165998
IBM      0.065220
MSFT     0.129769
^GSPC    0.105000
Name: ^GSPC, dtype: float64